//- footer structure
#footer
    #footer-content-box.has-content-width
        #footer-content
            .left
                a.contact-link(href='/contact.html') Kontakt 
                | | 
                a#impressum-link(href='/impressum.html') Impressum 
                
            .right
                p.copyright Copyright 2023
