// footer styles
#footer
    background-color: garyred
    padding-bottom: 18px
    padding-top: 28px
    #footer-content-box
        #footer-content
            margin-content(20px)
            .left
                display: inline-block
                a
                    font-size: 16px
                    font-family: "Museo 300" 
                    color: white
                    text-decoration: none
                a:hover
                    color: #333
            .right
                display: inline-block
                float: right
                p
                    font-size: 16px
                    font-family: "Museo 300" 
                    color: white  