#content.has-content-width 
    #ordination-container
        p.top-line Geöffnet Donnerstags ab 16:00 Uhr ausschließlich nach Terminvereinbarung!
        p Unsere Ordination finden Sie hier:</br>
            a(href="https://www.google.at/maps/place/Grillparzerstraße+62,+8010+Graz/@47.0845193,15.4382813,17z") Grillparzerstraße 62, 8010 Graz
        p Anfahrt zu unserer Ordination vom Geidorfplatz über die Bergmanngasse stadtauswärts.
        p In die Richard-Wagner-Gasse rechts abbiegen.
        p Die erste Straße links abbiegen (Grillparzerstraße). 
        p Unsere Ordination befindet sich im Gebäude am Ende der Straße (Grillparzerstraße 62) im Erdgeschoß des Hinterhauses.
        //- p Terminvereinbarung: </br> 
        //-     a(href="tel:+4366488188728") +43 (0) 664 881 887 28
        //-     | </br>
        //-     a(href="mailto:termin@drgary.at") termin@drgary.at
        //- #google-map-frame
        //- include ../components/google-maps-frame.pug
        .spacer
        p Die Terminvereinbarung erfolgt direkt telefonisch Montag bis Freitag von 8:00 bis 18:00 Uhr unter der Telefonnummer +43 (0)664/881 887 28.</br></br> Sie können uns aber auch jederzeit eine Nachricht schreiben - dann melden wir uns zum nächst möglichen Zeitpunkt zurück.
        include ../../appointmentbuttonmodule/appointmentbutton.pug
        
        p Ich bitte darum vereinbarte Termine, so sie nicht eingehalten werden können, vorab telefonisch oder per E-Mail abzusagen.
    ul#imageGallery
        li#list-item1(data-src="/img/gallery-1.jpg")
            #gallery-image1.preview
        li#list-item2(data-src="/img/gallery-2.jpg")
            #gallery-image2.preview
        li#list-item3(data-src="/img/gallery-3.jpg")
            #gallery-image3.preview
        li#list-item4(data-src="/img/gallery-4.jpg")
            #gallery-image4.preview
        li#list-item5(data-src="/img/gallery-5.jpg")
            #gallery-image5.preview
        li#list-item6(data-src="/img/gallery-6.jpg")
            #gallery-image6.preview
        li#list-item7(data-src="/img/gallery-7.jpg")
            #gallery-image7.preview
        li#list-item8(data-src="/img/gallery-8.jpg")
            #gallery-image8.preview
    .tail