#content.has-content-width 
    #aboutme-container
        .left-block 
            //- img(src="/img/logo.svg", alt="Deko Logo")
            p.signature-title Assoz. Prof. Priv. Doz. Dr. med. univ.
            h2 Thomas Gary 
            .line
            p.quote "Ich freue mich Ihnen in meiner Ordination in entspannter Atmosphäre </br>und ohne Zeitdruck eine den internationalen Standards enstprechende Abklärung und Therapie Ihrer Gefäße anbieten zu können."

    table
        tr
            td Seit 2021 
            td Allgemein beeideter und gerichtlich zertifizierter <b>Sachverständiger für Innere Medizin, Angiologie (Gefäßmedizin) sowie Blutgerinnung</b>
        tr    
            td Seit 2021 
            td <b>Präsident</b> der Young Academy der European Society of Vascular Medicine (ESVM)
        tr
            td Seit 2021
            td <b>Vertreter Österreichs</b> beim Europäischen Facharztverband für Phlebologie (European Union of Medical Specialists Phlebology)
        tr
            td 2021
            td <b>Präsident</b> des Österreichischen Verbandes für Gefäßmedizin (ÖVG)
        tr
            td 2020-2021
            td <b>Präsident</b> der Österreichischen Gesellschaft für Internistische Angiologie
        tr
            td Seit 2016
            td <b>Assoziierter Professor</b> der Medizinischen Universität Graz
        tr 
            td 2015 
            td Mitarbeit an der Medizinischen Universität Greifswald sowie am Herzzentrum Bad Krozingen, Deutschland
        tr
            td 2014
            td <b>Assistenzprofessor</b> der Medizinischen Universität Graz
        tr
            td 2013
            td Habilitation im Fach "Innere Medizin" zum <b>Privatdozenten</b>
        tr
            td 2012
            td <b>Additivfacharzt für Geriatrie</b>
        tr
            td 2009-2011
            td Ausbildung zum <b>Additivfacharzt für Angiologie</b>
        tr
            td 2005-2009
            td Ausbildung zum <b>Facharzt für Innere Medizin</b> an der Universitätsklinik für Innere Medizin Graz
        tr
            td 2004-2005
            td Ausbildung zum <b>Arzt für Allgemeinmedizin</b>
        tr
            td 2003-2004
            td Ausbildung zum <b>Facharzt für Innere Medizin</b> an der Universitätsklinik für Innere Medizin Graz
        tr
            td 2002-2003
            td Ausbildung zum <b>Arzt für Allgemeinmedizin</b>
        tr
            td 2001-2002
            td <b>Zivildienst</b> Rotes Kreuz Graz Stadt
        tr
            td 1995-2001
            td <b>Medizinstudium</b> an der Karl Franzens Universität Graz
        
    h2 Die wichtigsten Ehrungen
    table
        tr
            td 2015
            td <b>Wissenschaftler des Jahres</b> der Medizinischen Universität Graz
        tr
            td 2015
            td <b>Förderpreis der Schweizer Gesellschaft für Phlebologie</b>
        tr
            td 2014
            td <b>CLI-Preis der Deutschen Gesellschaft für Angiologie</b>
        tr
            td 2013
            td <b>Peregrini Preis der Österreichischen Gesellschaft für Phlebologie</b>
        
    h2 Publikationen
    #publication-details
        ul
            li Mehr als 300 nationale und internationale Publikationen
            li Mehr als 300 nationale und internationale Vorträge
            li Mehrere nationale und internationale Buchbeiträge
        p Details zur Publikationsliste über die Forschungsdokumentationen der Medizinischen Universität Graz:
        a(href="https://forschung.medunigraz.at/fodok/suchen.person_publikationen?sprache_in=de&menue_id_in=102&id_in=2000358") https://forschung.medunigraz.at/publikationen/thomas.gary

    .tail