/*==============================================================================
RESET
==============================================================================*/
@import '../stylereset/reset.styl'

/*==============================================================================
Global Styles
==============================================================================*/
@import '../globalstyles/styles.styl'

/*==============================================================================
Including other components
==============================================================================*/
@import '../allmodules/allstyles.styl'

/*==============================================================================
Top Section Components
==============================================================================*/
.top-section
    background-image: url("/img/ordination.jpg")
    #ordination-title
        display: block 

/*==============================================================================
Main content
==============================================================================*/
@import 'components/main.styl'