button.contact-link 
    background-color: garyred
    text-transform: uppercase
    color: white
    // background-image: url("/img/logo_white.svg")
    background-size: contain
    background-repeat: no-repeat
    background-position-x: 0
    background-position-y: center
    padding: 5px
    // padding-left: 30px
    // border-radius: 10px
    border: solid 15px garyred
