#services-container
    .large-block-background#chapter1_1
        .has-content-width
            h2
                .chapter-number 1.1 
                .chapter-text Abklärung bei Erkrankungen der Venen 
            .services-block
                h3 Krampfadern
                //- h3 1.1.1: Krampfadern
                p Krampfadern (auch Varizen genannt) sind erweiterte Venenabschnitte der Beine, welche durch eine Schwäche des Venenklappenapparates bedingt sind. Je nach Beschwerden (Schwellneigung der Beine bis zu einem Beingeschwür), kann eine Therapie der Krampfadern von Nöten sein. Diese erfolgte über Jahrzehnte mit einer Operation. 
                p Diese Therapie wird jedoch nun seit ca. 10 Jahren zunehmend von sogenannten „minimal invasiven“ (also ohne Hautschnitt und Narkose verlaufenden) Therapieformen abgelöst. Bei diesen wird die Krampfader von innen durch unterschiedliche Verfahren zerstört. 
                p In meiner Ordination ist diese Therapie mit Laser oder bei stark gewundenen Krampfadernverlauf auch mit einer Schaumverödung möglich. Ich führe den Lasereingriff in meiner Ordination ambulant und unter lokaler Betäubung durch. Vor jeder von mir durchgeführten Krampfaderntherapie ist eine vorangegangene Ultraschalluntersuchung der Beinvenen unumgänglich! Im Anschluss daran erfolgt eine ausführliche Information über die Therapiemöglichkeiten und die gemeinsame Planung der Therapie mit dem Patienten.
                p.paragraph-youtube-link Für mehr Informationen: 
                    a(href="https://www.youtube.com/watch?v=bDQJqwjJsu0") https://www.youtube.com/watch?v=bDQJqwjJsu0
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug
                h3 Venöse Thrombose und Lungenembolie
                //- h3 1.1.2: Venöse Thrombose
                p Die venöse Thrombose ist ein Gerinnsel, welches meist in den Beinvenen entsteht. Die Erkrankung kann durch das Auftreten einer Lungenembolie (Pulmonalembolie oder kurz PAE genannt) verkompliziert werden. Eine schnelle und exakte Diagnose mittels Ultraschall sowie die unmittelbare Einleitung einer blutverdünnenden Therapie (bitte hier Querverweis zum Punkt „Blutverdünnung nach Thrombose “) sind hier sehr wichtig. 
                p Die Abklärung einer venösen Thrombose, welche häufig als schmerzhafte Beinschwellung auftritt, und auch die Therapieeinleitung sind in meiner Ordination möglich. Auch bei einer bereits eingeleiteten Therapie kann das weitere Vorgehen in meiner Ordination besprochen werden (Querverweis „Blutverdünnung nach Thrombose“).
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug
                h3 Venenentzündung
                //- h3 1.1.3: Venenentzündung
                p Speziell im Bereich von Krampfadern sind kleine Entzündungen der Venen nicht selten. Hier kommt es auch oft zur Bildung eines Blutgerinnsels, das sogar auf das tiefe Venensystem übergreifen kann, eine Beinvenenthrombose entsteht. 
                p Die exakte Abklärung mittels Ultraschall und danach die Einleitung einer Blutverdünnungstherapie sind in meiner Ordination möglich. 
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    .large-block-background#chapter1_2
        .has-content-width
            h2
                .chapter-number 1.2 
                .chapter-text Endoluminale Lasertherapie und Schaumverödung von Krampfadern 
            .services-block
                p Krampfadern (auch Varizen genannt) sind erweiterte Venenabschnitte der Beine, welche durch eine Schwäche des Venenklappenapparates bedingt sind. Je nach Beschwerden (Schwellneigung der Beine bis zu einem Beingeschwür), kann eine Therapie der Krampfadern von Nöten sein. Diese erfolgte über Jahrzehnte mit einer Operation. 
                p Diese Therapie wird jedoch nun seit ca. 10 Jahren zunehmend von sogenannten „minimal invasiven“ (also ohne Hautschnitt und Narkose verlaufenden) Therapieformen abgelöst. Bei diesen wird die Krampfader von innen durch unterschiedliche Verfahren zerstört. 
                p In meiner Ordination ist diese Therapie mit Laser oder bei stark gewundenen Krampfadernverlauf auch mit einer Schaumverödung möglich. Ich führe den Lasereingriff in meiner Ordination ambulant und unter lokaler Betäubung durch. Vor jeder von mir durchgeführten Krampfaderntherapie ist eine vorangegangene Ultraschalluntersuchung der Beinvenen unumgänglich! Im Anschluss daran erfolgt eine ausführliche Information über die Therapiemöglichkeiten und die gemeinsame Planung der Therapie mit dem Patienten.
                p.paragraph-youtube-link Mehr Informationen: 
                    a(href="https://www.youtube.com/watch?v=bDQJqwjJsu0") https://www.youtube.com/watch?v=bDQJqwjJsu0
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    //- .large-block-background#chapter1_3
    //-     .has-content-width
    //-         h2 
    //-             .chapter-number 1.3 
    //-             .chapter-text Schaumverödung von Krampfadern
    //-         .services-block
    //-             p Krampfadern (auch Varizen genannt) sind erweiterte Venenabschnitte der Beine, welche durch eine Schwäche des Venenklappenapparates bedingt sind. Je nach Beschwerden (Schwellneigung der Beine bis zu einem Beingeschwür), kann eine Therapie der Krampfadern von Nöten sein. Diese erfolgte über Jahrzehnte mit einer Operation. 
    //-             p Diese Therapie wird jedoch nun seit ca. 10 Jahren zunehmend von sogenannten „minimal invasiven“ (also ohne Hautschnitt und Narkose verlaufenden) Therapieformen abgelöst. Bei diesen wird die Krampfader von innen durch unterschiedliche Verfahren zerstört. 
    //-             p In meiner Ordination ist diese Therapie mit Laser oder bei stark gewundenen Krampfadernverlauf auch mit einer Schaumverödung möglich. Vor jeder von mir durchgeführten Krampfaderntherapie ist eine vorangegangene Ultraschalluntersuchung der Beinvenen unumgänglich! Im Anschluss daran erfolgt eine ausführliche Information über die Therapiemöglichkeiten und die gemeinsame Planung der Therapie mit dem Patienten.
    //-             p Mehr Informationen: 
    //-                 a(href="https://www.youtube.com/watch?v=bDQJqwjJsu0") https://www.youtube.com/watch?v=bDQJqwjJsu0
    //-             //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    .large-block-background#chapter1_4
        .has-content-width
            h2
                .chapter-number 1.4
                .chapter-text Nach Thrombose und Lungenembolie
            .services-block
                p In gewissen Situationen (bei venösen Thrombosen, bei manchen Formen der Herzrhythmusstörung, in der Schwangerschaft bei Thromboseneigung etc.) muss das Blut in seiner Gerinnbarkeit gehemmt werden, der Patient wird „blutverdünnt“ (antikoaguliert). 
                p Derzeit gibt es eine Vielzahl von Medikamenten für die Blutverdünnungstherapie nach Thrombose, die das bewirken und bei einer großen Zahl von Patienten auch über viele Jahre hinweg angewendet werden. Als mögliche Nebenwirkung sind Blutungskomplikationen möglich. 
                p Die richtige Auswahl der Medikamente, die korrekte Dosierung dieser sowie die Entscheidung über die Dauer der Therapie zählen zu meinen Spezialgebieten.
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    .large-block-background#chapter1_5
        .has-content-width
            h2
                .chapter-number 1.5
                .chapter-text Blutverdünnung in der Schwangerschaft
            .services-block
                p In gewissen Situationen (bei venösen Thrombosen, bei manchen Formen der Herzrhythmusstörung, in der Schwangerschaft bei Thromboseneigung etc.) muss das Blut in seiner Gerinnbarkeit gehemmt werden, der Patient wird „blutverdünnt“ (antikoaguliert). 
                p Speziell in der Schwangerschaft können nur gewisse Substanzen für diesen Zweck verwendet werden und sollten auch in regelmäßigen Abständen in ihrer Wirksamkeit überprüft werden. 
                p Die richtige Auswahl dieser Medikamente, die korrekte Dosierung dieser sowie die Entscheidung über die Dauer der Therapie zählen zu meinen Spezialgebieten.
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug


    .large-block-background#chapter1_6
        .has-content-width
            h2
                .chapter-number 1.6
                .chapter-text Blutverdünnung in Risikosituationen für Thrombose</br>(zum Beispiel bei Reisen)
            .services-block
                p In gewissen Situationen (bei venösen Thrombosen, bei manchen Formen der Herzrhythmusstörung, in der Schwangerschaft bei Thromboseneigung etc.) muss das Blut in seiner Gerinnbarkeit gehemmt werden, der Patient wird „blutverdünnt“ (antikoaguliert). 
                p Speziell bei langen Reisen steigt durch die deutlich eingeschränkte Beweglichkeit (im Flugzeug sowie auch im Auto) das Risiko für Beinvenenthrombosen. Bei vielen Patienten ist das Tragen von Kompressionsstrümpfen als Prophylaxemaßnahme ausreichend. Einige wenige sollten auch blutverdünnt werden. 
                p Die Abschätzung dieses individuellen Thromboserisikos zählt zu meinen Spezialgebieten.
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    .large-block-background#chapter1_7
        .has-content-width
            h2
                .chapter-number 1.7
                .chapter-text Abklärung bei Atherosklerose-Erkrankungen
            .services-block
                p Gefäßverkalkung (Atherosklerose) ist eine immer häufiger auftretende Erkrankung, welche unterschiedlichste Gefäße des Körpers betreffen kann. Je nach Lokalisation verursacht die Erkrankung andere Beschwerden. 
                ul
                    li 
                        .li-inner Betrifft die Atherosklerose die Herzkranzgefäße steigt das Herzinfarktrisiko.
                        .clear
                    li 
                        .li-inner Betrifft sie die Halsschlagader steigt das Schlaganfallrisiko.
                        .clear
                    li 
                        .li-inner Betrifft sie die Beingefäße ist der Patient in seiner Beweglichkeit stark eingeschränkt, eine sogenannte „Schaufensterkrankheit“ entsteht.
                        .clear
                    li 
                        .li-inner Betrifft sie die Bauchschlagader kann ein Aortenaneurysma entstehen.
                        .clear 
                p Zur Abklärung dieser Erkrankungsbilder ist die Erhebung der medizinischen und familiären Vorgeschichte des Patienten wichtig. Danach ist eine Ultraschalluntersuchung der Gefäße in meiner Ordination ebenso möglich. 
                p Bei diesen Erkrankungsbildern erfolgt in meiner Ordination nur die Abklärung mittels Ultraschall und die Einleitung einer medikamentösen Therapie. Ein eventuell erforderlicher Eingriff (zum Beispiel eine Ballonaufdehnung oder die Therapie einer durch Atherosklerose eingeengten Gefäßstelle mit einem Stent etc.) bedarf eines stationären Aufenthaltes, sollte danach in einem darauf spezialisierten Zentrum erfolgen und kann bei Bedarf von mir in die Wege geleitet werden. 
                //- include ../../appointmentbuttonmodule/appointmentbutton.pug

    .large-block-background#chapter1_8
        .has-content-width
            h2
                .chapter-number 1.8
                .chapter-text Kosten
            .services-block
                p Da meine Ordination als reine Privatordination geführt wird, verrechne ich direkt mit dem Patienten. Dieser kann dann die Kosten bei seiner Versicherung einreichen und wird einen Teil rückerstattet bekommen. Barzahlung, Bankomatkasse, Kreditkartenzahlung und Überweisung der ausstehenden Summe binnen 10 Werktagen sind in meiner Ordination möglich. 
                h3 Kosteninformation:
                ul
                    li
                        .li-inner Blutverdünnungstherapie nach Beinvenenthrombose (inklusive Ultraschalluntersuchung der Beinvenen): € 250,-
                        .clear
                    li
                        .li-inner Blutverdünnung in Risikosituationen für Thrombose (zum Beispiel bei Reisen), Erhebung des individuellen Thromboserisikos: € 200,-
                        .clear 
                    li
                        .li-inner Blutverdünnung in der Schwangerschaft, Erhebung des individuellen Thromboserisikos: € 200,-
                        .clear
                    li
                        .li-inner Abklärung bei Erkrankungen der Venen (inklusive Ultraschall der Beinvenen): € 250,-
                        .clear
                    li
                        .li-inner Endoluminale Lasertherapie von Krampfadern (ambulant und unter lokaler Betäubung): je nach Lokalisation der zu behandelnden Vene € 2.500,- (Preis inkludiert 2 Kontrollultraschalluntersuchungen). Sollten Sie eine Zusatzversicherung haben wird ein Großteil der Summe von dieser übernommen.
                        .clear 
                    li
                        .li-inner Schaumverödung von Krampfadern: je nach Lokalisation und Anzahl der Sitzungen  € 500 - 1.000,- (Preis inkludiert 1 Kontrollultraschalluntersuchung)
                        .clear
                    li
                        .li-inner Abklärung bei Atherosklerose-Erkrankungen: € 250,- 
                        .clear
    #bottom-button
        include ../../appointmentbuttonmodule/appointmentbutton.pug

    .tail



