#content.has-content-width
    #impressum-container
        h1 Impressum - Information gemäß § 5 E-Commerce-Gesetz & Offenlegung gemäß § 25 Mediengesetz:

        h2 Diensteanbieter & Medieninhaber:
        p.impressum-line Dr. Thomas Gary

        h2 Kontakt:
        p.impressum-line Grillparzerstraße 62, 8010 Graz - Österreich</br>Telefon: +43 (0)664/881 887 28</br>E-Mail: termin@drgary.at
        h2 Zuständige Ärztekammer:
        p.impressum-line  Ärztekammer Steiermark</br>
            a(href="https://www.aekstmk.or.at/") https://www.aekstmk.or.at/

        h2 Berufsbezeichnung:
        p.impressum-line Facharzt für Innere Medizin und Gefäßmedizin (verliehen in Österreich)
        h2 Berufsrechtliche Regelungen:
        p.impressum-line Die Berufsordnung ist zu beziehen bzw. einzusehen bei der zuständigen Ärztekammer.

        h2 Konzept & Grafik:
        a.impressum-line(href="http://www.va-designory.at") Visual Art Designory e.U.
        h2 Fotokredit:
        a.impressum-line(href="https://www.djakob.at/") DJAKOB photo`graphics design e.U.  
        .tail
