#outer-content-table.has-content-width.closed
    #has-content-table-width
        #content-table
            button.chapter-link(chapter-id="#chapter1_1") Erkrankungen der Venen
            button.chapter-link(chapter-id="#chapter1_2") Lasertherapie von Krampfadern 
            //- button.chapter-link(chapter-id="#chapter1_3") Schaumverödung von Krampfadern
            button.chapter-link(chapter-id="#chapter1_4") Nach Thrombose und Lungenembolie
            button.chapter-link(chapter-id="#chapter1_5") Blutverdünnung - Schwangerschaft
            button.chapter-link(chapter-id="#chapter1_6") Blutverdünnung - Risikosituationen
            button.chapter-link(chapter-id="#chapter1_7") Atherosklerose-Erkrankungen
            button.chapter-link(chapter-id="#chapter1_8") Kosteninformation