#index-container
    h1
        #index-header-name
            color garyred
    margin-content(20px)
    #left-textblock
        text-align: center
        @media desktopscreen
            width: 60%
            display: block 
            margin: auto
        h2
            font-family: 'Museo 700'
            font-size: 25px
            text-align: center
            margin-bottom: 15px
        p 
            font-size: 20px 
    #right-image
        margin: 20px auto
