#content.has-content-width
    //- img#right-image(src="/img/index-image.jpg" width="100%")
    #index-container
        h1 Facharzt für Innere Medizin & Gefäßmedizin</br>Assoz. Prof. Priv. Doz. Dr. med. univ.</br><span id="index-header-name">Thomas Gary</span>
        #left-textblock 
            //h2  Willkommen!
            p Es freut mich Ihnen in meiner Ordination eine internationalen Standards entsprechende Diagnostik und Therapie Ihrer Gefäße anbieten zu können.
    .tail


